# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
build/
*.local

# Environment variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
